:80 {
    reverse_proxy guacamole:8080

    log {
        output file /var/log/caddy/guacamole-access.log
        format single_field common_log
    }

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
